<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raven-OS Documentation</title>
</head>
<body>
    <h2>Raven-OS's - Projects ({{projects_len}} available):</h2>
    <ul>
    {{#each projects}}
        <li><a href="/{{this}}">{{this}}</a></li>
    {{/each}}
    </ul>
</body>
