<nav class="navbar navbar-expand navbar-dark">
  <div class="row w-100 px-0 mx-0">
    <div class="col-lg-auto" align="center">
      <a class="navbar-brand" href="/"><img src="/img/raven_title.png" /></a>
    </div>
  </div>
</nav>